{% extends 'base.html' %}

{% block content %}
<h3>Double run Institution Woodin</h3>
<table class="table table-stripped">
    <tbody>
        <thead>
            <th>Time</th>
            <th>Drying Temperature</th>
            <th>Speed</th>
            <th>Cloth Width</th>
            <th>Beam Width</th>
            <th>Lattice Roller</th>
            <th>Vision System</th>
            <th>Colour Pumps</th>
            <th>Check Fitting</th>
            <th>Penetration</th>
            <th>Colour Marking Off</th>
            <th>Other Defects</th>
            <th>Action</th>
        </thead>
        {% for i in object1%}
        <tr>
            <td>{{i.time_stamp_curr}}</td>
            <td>{{i.drying_temperature}}</td>
            <td>{{i.speed}}</td>
            <td>{{i.cloth_width}}</td>
            <td>{{i.beam_position}}</td>
            <td>{{i.lattice_roller}}</td>
            <td>{{i.vision_system}}</td>
            <td>{{i.colour_pumps}}</td>
            <td>{{i.check_fitting}}</td>
            <td>{{i.penetration}}</td>
            <td>{{i.colour_marking_off}}</td>
            <td>{{i.other_defects}}</td>
            <td ><button class="btn btn-warning">Delete</button><button class="btn btn-primary">Update</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}